services:
  mysql:
    image: mysql:8
    container_name: mysql-ares
    environment:
      MYSQL_ROOT_PASSWORD: 123456           # MySQL root 用户密码
      TZ: Asia/Shanghai                     # 设置时区
      MYSQL_DATABASE: nacos                 # 创建的数据库名称
    ports:
      - "3306:3306"                         # 将 MySQL 的 3306 端口映射到宿主机
    volumes:
      - ./data/mysql:/var/lib/mysql         # 数据持久化目录
      - ./mysql-init:/docker-entrypoint-initdb.d/ # 启动时初始化 SQL 脚本的挂载目录

    restart: always                         # 容器崩溃时自动重启
    networks:
      - ares-network
  redis:
    image: redis:latest
    container_name: redis-ares
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - ./data/redis/data:/data
      - ./configs/redis.conf:/usr/local/etc/redis/redis.conf
      - ./data/redislogs:/logs
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    networks:
      - ares-network
  nacos:
    image: nacos/nacos-server:v2.3.0-slim
    container_name: nacos-server
    environment:
      - MODE=standalone                     # 单机模式
      - SPRING_DATASOURCE_PLATFORM=mysql    # 使用 MySQL 作为数据源
      - MYSQL_SERVICE_HOST=mysql            # MySQL 容器的服务名
      - MYSQL_SERVICE_PORT=3306             # MySQL 服务端口
      - MYSQL_SERVICE_DB_NAME=nacos         # 数据库名称
      - MYSQL_SERVICE_USER=root             # 数据库用户名
      - MYSQL_SERVICE_PASSWORD=123456       # 数据库密码
      - MYSQL_SERVICE_DB_PARAM=characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true&useUnicode=true&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true # 数据库连接参数
      - PREFER_HOST_MODE=hostname
      - JVM_XMS=256m                        # 设置 JVM 最小堆内存
      - JVM_XMX=512m                        # 设置 JVM 最大堆内存
      - JVM_XMN=256m                        # 设置 JVM 年轻代堆内存
      - NACOS_AUTH_ENABLE=true
      - NACOS_AUTH_IDENTITY_KEY=2222
      - NACOS_AUTH_IDENTITY_VALUE=2xxx
      - NACOS_AUTH_TOKEN=SecretKey012345678901234567890123456789012345678901234567890123456789
    ports:
      - "18848:8848"                         # Nacos 控制台端口
      - "19848:9848"                         # Nacos gRPC 端口
    #      - "19849:9849"                         # Nacos Raft 端口
    volumes:
      - ./data/nacos/data:/home/nacos/data  # Nacos 数据持久化
      - ./data/nacos/logs:/home/nacos/logs  # Nacos 日志持久化
    depends_on:
      - mysql                               # 依赖 MySQL 容器
    restart: always
    networks:
      - ares-network
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq-ares
    environment:
      RABBITMQ_DEFAULT_USER: admin         # RabbitMQ 默认用户名
      RABBITMQ_DEFAULT_PASS: admin123      # RabbitMQ 默认密码
      TZ: Asia/Shanghai                    # 设置时区
    ports:
      - "5672:5672"                        # AMQP 协议端口
      - "15672:15672"                      # 管理界面端口
    volumes:
      - ./data/rabbitmq/data:/var/lib/rabbitmq           # 数据持久化
      - ./data/rabbitmq/logs:/var/log/rabbitmq           # 日志持久化
    restart: always
    networks:
      - ares-network

networks:
  ares-network:
    driver: bridge
