@import './base.css';

html,body,#app, .layout-container{
  width: 100%;
  height: 100%;
  padding: 0;
  font-weight: normal;
}
.el-main{
  height: calc(100% - 60px);
}
.page-contenter{
  overflow-y: auto;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
.table-header{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 18px;
}
.table-header .search-input{
  margin-right: 12px;
}
.page-contenter{
  width: 100%;
  height: calc(100% - 20px);
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}
.pagination-contenter{
  margin-top: 15px;
  position: relative;
}
.pagination-contenter .el-pagination{
  position: absolute;
  right: 10px;
}